/* Type whatever CSS you need here! */

.render-button-container > button{
  margin: 0 10px;
  padding: 5px;
  width: 165px;
}

div .circles {
  height:100px;
  width:100px;
  border-radius:50%;
  background:blue;
  margin: 0px 0px 20px 0px;
  
}

div .ellipses {
border-radius:50%;
 margin: 0px 0px 20px 0px;
  
}

div .nametag {
  width: 600px;
  color: black;
  font-size: 75px;
  border-style:  solid;
  padding: 75px;
  margin: 0px 0px 50px 0px;
  
  
}

div .greeting {
  width: 600px;
  border: 5px solid black;
  padding: 50px;
  
  color: white;
  font-size:35px;
  background-color:blue;
}


div .attendance {
  font-size:75px;
}

div .study {
  font-size:50px;
  color:black;

}

div .falses {
  background-color:hsla(360, 83%, 59%, 1);
}

div .trues{
  background-color:hsla(87, 100%, 50%, 1);
}

div .status {
  font-size:30px;
  color:black;
  font-weight: bold;

}

div .boxes {
  width: 400px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
 
}

.cards img {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
    margin-right:20px;
    }

.money {
  color:green;
  font-weight:bold;
  font-size:30px;
  margin-left: 10px;
  margin-top:-10px;
}

.place {
  color: black;
  font-weight: bold;
  font-size:30px;
  margin-left: 10px;
  padding: none;
}

.type {
  color:rgb(116, 110, 110);
  font-weight: bold;
  font-size: 15px;
  margin-left:10px;
  margin-top:-10px;
}

.thumb {
  background-color:rgb(226, 224, 224);
  border-radius:10%;
  width: 200px;
  margin-right:20px;
 
 
  
}

 .movie-poster {
 height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:none;
  
}

.right-back {
  background-color:rgb(230, 230, 230);
   
  width: 200px; 
  height: 200px;
  border-radius:5%;
  margin-top:20px;
    margin-bottom:none;
  
}
.main-back {
  background-color:gray;
  height: 250px; 
    width: 380px; 
    border-radius:5%;
    margin-bottom: 20px;
    
}

div .title {
  color:black;
  font-weight: bold;
  font-size:17px;
  width:200px;
  margin-left:20px;
}

.year {
  color:black;
  font-weight: bold;
  font-size:12px;
  margin-top:-5px;
  margin-left:20px;
  
}

.rating {
 margin-top:-5px;
  font-size:17px;
  font-weight:500;
  margin-left:20px;
}

.imdb {
  margin-top:20px;
  font-size:17px;
  font-weight:500;
  margin-left:20px;
}

.rotten {
 margin-top:20px;
  font-size:17px;
  font-weight:500;
  margin-left:20px;
}

.tomato {
  margin-top:-5px;
  font-size:17px;
  font-weight:500;
  margin-left:20px;
}